<! -- target="_blank" -->

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <title>prueba HTML</title>
    </head>

    <body class="todo fondos">
        <h1 class="section">El titulo de nuestro documento</h1>
        <h2>este subtitulo es imporante</h2>

        <img src="/img/imagen-prueba.jpg" width="600" alt="imagen de darth vader">

        <div>
            <p class="p-in-blue">este parrafo contiente contenido de suma importancia...</p>
        </div>
        <nav>
            <ol class="red-text">

                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
                <li>item 6</li>

            </ol>
        </nav>
        <article class="section">
            <p id="saludar">Este link es de suma importancia:</p> <a href="https://www.twitch.tv/midudev"
                target="_blank">Canal de twitch</a>
        </article>

    </body>

    </html>