 <! -- target="_blank" -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>prueba HTML</title>
</head>

<body>
    <h1>El titulo de nuestro documento</h1>
    <h2>este subtitulo es imporante</h2>
   
     <img src="/img/descarga.jpg" width="400" alt="imagen de One punchMan">
    
    <div>
        <p>este parrafo contiente contenido de suma importancia...</p>
    </div>
    <nav>
        <ol class="texto-rojo">

            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
            <li>item 6</li>

        </ol>
    </nav> 
<article>
    <p>Este link es de suma importancia:</p> <a href="https://www.twitch.tv/midudev" target="_blank">Canal de twitch</a>
</article>

</body>

</html>